
.game{
    width: 900px;
  
    min-height: 100px;
    
    background-color: rgb(108, 165, 77);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}
h1{
  font-family: "Teko";
  font-size: 80px;
  padding: 0px;
  margin: 0px;
  color: #fff;
}

h2{
    font-family: "Teko";
    font-size: 30px;
    color: #fff;
    
}
.texte{
    width: 760px;
    font-family: "Teko";
    font-size: 22px;
}
html{
    background-color: rgb(73, 116, 50);
}
img{
    width: 760px;
}
.video-class{
    width: 760px;
}
.bouton{
    position: relative;
    width: 900px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 25px;
    
    
}
.bouton :nth-child(1){
    width: 200px;
  
    background-color: rgb(135, 238, 79);
    margin-left: 150px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    font-family: "Teko";
    font-size: 30px;
}
.bouton :nth-child(2){
    width: 200px;
    background-color: rgb(135, 238, 79);
    
    margin-right: 150px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    font-family: "Teko";
    font-size: 30px;
}



.btn:hover{
    background-color: rgb(73, 116, 50);
} 
.menu-haut{
    display: flex;
 
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.btn{
    text-align: center;
    color: #fff;
    font-family: "Teko";
    font-size: 30px;
    position: relative;
    padding: 10px;
    background-color: rgb(135, 238, 79);
    border-radius: 20px;
    margin: 20px;
   
}
.son{
   
  
    color: #fff;
    font-family: "Teko";
    font-size: 30px;
    margin: 20px;
   
}
.check{
  border: solid black 2px;   
appearance: none;
 background-color: white;
 border-radius: 10px;
 width: 40px;
 height: 40px;
}
.check:checked{
   background-image:url("assets/img/checked.png");
   background-size: contain;
}

.chapitre4 .game{
    background-color: rgb(36, 138, 255);
}
.chapitre6 .game{
    background-color: rgba(138, 44, 0, 0.849);
}
.chapitre33 .game{
    background-image:url("assets/img/noir_bacjkground.jpg");
    background-size: contain;
}

